@import url("https://fonts.googleapis.com/css?family=Montserrat : 400,800");

@font-face {
	font-family: Century Gothic; /* Имя шрифта */
	src: url(../fonts/gothic.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: Century Gothic italic; /* Имя шрифта */
	src: url(../fonts/gothici.TTF); /* Путь к файлу со шрифтом */
}

@keyframes go-up-down {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes show {
	0%,
	50%,
	49.99% {
		z-index: 1;
		opacity: 0;
	}
	100% {
		z-index: 5;
		opacity: 1;
	}
}

body {
	display: flex;

	overflow-x: hidden;
	margin: 0;

	background: #060e1b;

	justify-content: center;
	align-items: center;
	flex-direction: column;
}

canvas {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}

.fp {
	height: 100vh;
}

.sp {
	height: 100vh;
}

#logo {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;

	width: 100%;
	padding-top: 50px;

	font-family: Century Gothic italic;
	font-size: 44px;
	color: white;
	text-align: center;
}

#logo-sd-color {
	font-size: 44px;
	color: #1d628b;
}

.text {
	font-family: Century Gothic;
	color: white;
}

#ft-mn-tt {
	width: 100%;
	padding-top: 6%;

	font-size: 45px;
	text-align: center;
}

#ft-sd-tt {
	width: 67.5%;
	margin: 0 auto;
	padding-top: 2%;

	font-size: 24px;
	text-align: center;
}

#sp-mn-tt {
	font-size: 30px;
	margin-left: 10%;
	padding-top: 15%;

	text-align: left;
}

#sp-sd-tt {
	width: 37%;
	margin-left: 10%;
	padding-top: 3%;

	text-align: left;
}

.myButton_div {
	padding-top: 6%;
	text-align: center;
}

#myButton {
	display: inline-block;

	margin-top: 2em;
	padding: 21px 36px;

	background-color: unset;
	font-family: Century Gothic;
	font-size: 33px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	border: 2px solid;
	border-color: #73b1d6;
	border-radius: 50px;
	outline: none;
}

#myButton:hover {
	border-color: #1d628b;
}

#myButton:active {
	position: relative;
	top: 1px;
}

#arrow {
	width: 45px;
}

#arrows {
	height: 45px;
	width: 100%;
	padding-top: 8%;

	text-align: center;

	animation: go-up-down 1.5s infinite;
	animation-timing-function: linear;
}

* {
	box-sizing: border-box;
}

.con-h1 {
	margin: 0;
	font-weight: bold;
}

.con-h2 {
	text-align: center;
}

.con-p {
	margin: 20px 0 30px;

	font-size: 14px;
	font-weight: 100;
	letter-spacing: 0.5px;
	line-height: 20px;
}

.con-span {
	font-size: 12px;
}

.con-a {
	margin: 15px 0;

	font-size: 14px;
	color: #333;
	text-decoration: none;
}

#con-pass-link:hover {
	text-decoration-line: underline;
}

.con-button {
	padding: 12px 45px;

	cursor: pointer;
	background-color: #a0c928;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 1px solid #a0c928;
	border-radius: 20px;

	transition: transform 80ms ease-in;
}

.con-button:active {
	transform: scale(0.9);
}

.con-button:focus {
	outline: none;
}

.con-button > ghost {
	background-color: transparent;
	border-color: #ffffff;
}

.con-form {
	display: flex;

	height: 100%;
	padding: 0 50px;

	background-color: #ffffff;
	text-align: center;

	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.con-input {
	width: 100%;
	margin: 8px 0;
	padding: 12px 15px;

	background-color: #eee;
	border: none;
}

.container {
	position: relative;
	display: none;
	z-index: 122;

	overflow: hidden;
	min-height: 480px;
	width: 768px;
	max-width: 100%;

	background-color: #fff;
	/*    visibility: hidden;*/
	font-family: "Montserrat", sans-serif;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-container {
	position: absolute;
	top: 0;

	height: 100%;

	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	z-index: 2;

	width: 50%;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	z-index: 1;

	width: 50%;

	opacity: 0;
}

.container.right-panel-active .sign-up-container {
	z-index: 5;

	opacity: 1;

	animation: show 0.6s;
	transform: translateX(100%);
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	overflow: hidden;
	height: 100%;
	width: 50%;

	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.overlay {
	position: relative;
	left: -100%;

	height: 100%;
	width: 200%;

	background: #ff416c;
	background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
	background: linear-gradient(to right, #1f437d, #19747d);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;

	transition: transform 0.6s ease-in-out;
	transform: translateX(0);
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	top: 0;

	height: 100%;
	width: 50%;
	padding: 0 40px;

	text-align: center;

	transition: transform 0.6s ease-in-out;
	transform: translateX(0);

	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	display: inline-flex;

	height: 40px;
	width: 40px;
	margin: 0 5px;

	border: 1px solid #dddddd;
	border-radius: 50%;

	justify-content: center;
	align-items: center;
}

.close {
	position: absolute;
	top: 1px;
	right: 16px;

	height: 32px;
	width: 32px;

	opacity: 0.3;
}

.close:hover {
	opacity: 1;
}

.close:after,
.close:before {
	content: " ";

	position: absolute;
	left: 15px;

	height: 33px;
	width: 2px;

	background-color: #333;
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}
.animate__animated.animate__fadeOut {
	--animate-duration: 0.5s;
}

.sp-ph-bg {
	float: right;
}

#sp-ph-bg {
	height: 99vh;
	z-index: 3;
}
