
body {
    overflow-x : hidden;
    margin     : 0;

    background : #060e1b;
}

@font-face {
    font-family: Century Gothic; /* Имя шрифта */
    src: url(../fonts/gothic.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Century Gothic italic; /* Имя шрифта */
    src: url(../fonts/gothici.TTF); /* Путь к файлу со шрифтом */
}

canvas {
  /*opacity: 0.5;*/
    position : absolute;
    top      : 0px;
    right    : 0px;
    bottom   : 0px;
    left     : 0px;
    z-index  : -1;
}

#logo{
    position    : absolute;

    width       : 100%;
    padding-top : 50px;

    font-family : Century Gothic italic;
    font-size   : 44px;
    color       : white;
    text-align  : center;
}

#logo1{
    font-size : 44px;
    color     : #1D628B;
}

#maintext{
    width       : 100%;
    margin      : 0 auto;
    padding-top : 200px;

    font-family : Century Gothic;
    font-size   : 45px;
    color       : white;
    text-align  : center;
}

#secondtext{
    width       : 67.5%;
    margin      : 0 auto;
    padding-top : 50px;

    font-family : Century Gothic;
    font-size   : 24px;
    color       : white;
    text-align  : center;
}

.myButton{
    padding-top : 135px;
    text-align  : center;
}

.myButton > a {
    display         : inline-block;

    padding         : 21px 36px;

    cursor          : pointer;
    font-family     : Century Gothic;
    font-size       : 33px;
    color           : #ffffff;
    text-decoration : none;
    text-shadow     : 0px 1px 0px #2f6627;
    border          : 2px solid;
    border-color    : #73B1D6;
/*  background-color:#73B1D6;*/
    border-radius   : 50px;
}

.myButton > a:hover {
/*  background-color:#1D628B;*/
    border-color : #1D628B;
}

.myButton > a:active {
    position : relative;
    top      : 1px;
}

#arrow{
    width : 45px;
}

#arrows {
    position    : absolute;

    height      : 45px;
    width       : 100%;
    padding-top : 100px;

    text-align  : center;

    animation   : go-up-down 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes go-up-down {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}